<!DOCTYPE html>
<html>
<head>
  <title>Rails Top 100 Movies Database</title>

  <!-- INSTALL BOOTSTRAP FROM CDN___________________________________________________ -->

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

  <!-- STANDARD RAILS TEMPATE TAGS__________________________________________________ -->

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- INSTALL GOOGLE FONTS_________________________________________________________ -->

  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Crimson+Text:600' rel='stylesheet' type='text/css'>
</head>


<body>

<!-- SET BACKGROUND IMAGE________________________________________________________________________ -->

  <div id="bg">
    <img src="http://htbackdrops.org/v2/albums/userpics/10318/film-studies-101-hi-resolution.jpg" alt="">
  </div>

<!-- ADD MAIN NAVIGATION_________________________________________________________________________ -->

  <div class='title_bar'>
    <!-- <img src="http://www.leilappetit.com/blog/wp-content/uploads/2015/07/cropped-NEW-400-x-200.png?e80df2"> -->
    <p><%= link_to('Movies', movies_path) %>&nbsp;&nbsp;&nbsp;    |  &nbsp;&nbsp;&nbsp;           <%= link_to('All Reviews', reviews_path) %>

<!-- TODO - UNCOMMENT THE CODE BELOW WHEN DEVISE IS INSTALLED_________________ -->

      <%# if user_signed_in? %>

        <%#= link_to 'logout', destroy_user_session_path, method: :delete %>
        <%# else %>
        <%#= link_to 'login', new_user_session_path %>
        <%#= link_to 'register', new_user_registration_path %>
        <%# end %>


       </p>
  </div>
  <!-- DEVISE FLASH ERRORS_________________________________________________________________________ -->

  <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>



  <%= yield %>


<!-- FOOTER ___________________________________________________________________________________________ -->

  <footer class='footer'>
  
   <%= link_to('New Movie', new_movie_path) %>  &nbsp;&nbsp;&nbsp;   | &nbsp;&nbsp;&nbsp;    <%= link_to('New Review', new_review_path) %>
  
  </footer>

  <!-- BOOTSTRAP SCRIPTS_______________________________________________________________________________ -->

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>

</body>
</html>
